<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:hw/week14_01/conf.properties"/>
	
	<bean id="car" class="hw.week14_01.Car">
		<constructor-arg value="${car_name}"/>
		<property name="number" value="${car_number}"/>
	</bean>
	
	<bean id="director" class="hw.week14_01.Human">
		<constructor-arg value="${director_name}"/>
		<constructor-arg ref="car"/>
	</bean>
	
	<bean id="company" class="hw.week14_01.Company">
		<constructor-arg value="OOO JavaIT"/>
		<constructor-arg ref="director"/>
		<constructor-arg ref="car"/>
	</bean>
</beans>